:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* size */
  --base-space: 8px;
  --size-button: 60px;
  --font-size: 18px;
  --border-radious: 4px;
  --size-thumbnail: 40px;

   /* annimation */
  --annimation-duration: 300ms;
}

body {
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo{
  cursor: pointer;
  transition: var(--annimation-duration) ease;
}

.btn{
  background-color: var(--color-black);
  border: none;
  outline: none;
  cursor: pointer;
  transition: var(--annimation-duration) ease;
  margin-right: var(--base-space);
}

.btn:hover, 
.logo:hover { 
  transform: scale(1.1);
}

.imgBtn {
  width: var(--size-button);
  height: var(--size-button);
}

.colorBtn {
  font-size: var(--font-size);
  padding: calc(var(--base-space) * 2);
  border-radius: var(--border-radious);
}

.blue {
  background-color: var(--color-blue);
}

.yellow {
  background-color: var(--color-yellow);
}

.pink {
  background-color: var(--color-pink);
}

.buttons {
  display: flex;
  align-items: center;
}

.items {
  width: 60%;
  height: 60%;
  list-style: none;
  padding-left: 0;
  margin-bottom: var(--base-space);
  overflow-y: scroll; 
}

.item {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  padding: var(--base-space);
}

.item__thumbnail {
  width: var(--size-thumbnail);
  height: var(--size-thumbnail);
}

.item__description {
  margin-left: var(--base-space);
  font-size: var(--font-size)  
}